version: '2'
volumes:
  elasticsearch:
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.8.0
    ports:
      - "9200:9200"
    environment:
      discovery.type: single-node
      transport.host: 127.0.0.1
      xpack.security.enabled: "false"
    volumes:
      - "elasticsearch:/usr/share/elasticsearch/data"
  kibana:
    image: docker.elastic.co/kibana/kibana:6.8.5
    ports:
      - "5601:5601"
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
  claim_review_api:
    build: .
    ports:
      - "9292:9292"
    volumes:
      - ".:/app"
    depends_on:
      - elasticsearch
      - kibana
    env_file:
      - .env_file